<script src="https://js.pusher.com/4.2/pusher.min.js"></script>

<ul>
<% @files.each do |file| %>
<li><%= file %></li>
<% end %>
</ul>

<script type="text/javascript">
    var pusher = new Pusher('application_key', {
        wsHost: "localhost",
        wsPort: "8080",
        wssPort: "8080",
        enabledTransports: ['ws', 'flash']
    });

//    console.log("Pusher.key: #{Pusher.key}");

    pusher.connection.bind( 'error', function( err ) {
        console.log('>>> error detected ', err);
    });

//  Pusher.host    = 'localhost'
//  Pusher.ws_port = 8080
//  Pusher.wss_port = 8080
//
//  var pusher = new Pusher('application_key');
  var channel = pusher.subscribe('MY_CHANNEL');
  channel.bind('an_event', function(data) {
      console.log('data: ', data);
  });

  Pusher.log = function(data) {
      console.log('\t\t', data);
  };
</script>